/*
COLORS

Primary: #e74c3c
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {

    --color-primary: #F44336;
    --color-primary-light: #FFCDD2;
    --color-primary-dark: #D32F2F;

    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: var(--color-primary);
    background-image: linear-gradient(to right bottom, rgba(244, 67, 54, 0.8), rgba(211, 47, 47, 0.8)), url(img/stormtrooper.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;


}

.container {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.numbers {
    text-decoration: none;
    margin-top: 10vh;
    margin-bottom: 5rem;
}

.numbers__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    transition: all 2s;
}

.numbers__item {
    width: 10rem;
    height: 10rem;
    background-color: var(--color-grey-light-1);
    font-size: 6rem;
    border-radius: 50%;
    box-shadow: 1 -1rem 2rem black;
}

.numbers__item:not(:last-child) {
    margin-right: 3rem;
}


.btn,
.btn:link,
.btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.6rem;
    padding: 1.5rem 4rem;
    border: none;
    border-radius: 50rem;
    vertical-align: middle;
    background-color: var(--color-grey-light-1);
    transition: all .2s;
    color: var(--color-primary);

}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(black, .15);
    /* color: var(--color-grey-light-2); */
    /* background-color: var(--color-primary); */
    /* border: solid 1px var(--color-grey-light-2); */
}

.btn:active {
    transform: translateY(0.5px);
}

img {
    margin-top: 1rem;;
}

::selection {
    background-color: var(--color-primary);
    color: white;
}

.scale {
    transform: scale(1.2);
}

